<footer class="faded">
  <p>
    You can find me on <a title='Mastodon' target="_blank" rel="noreferrer" href="https://mstdn.io/@vaillancourtmax/">Mastodon</a> and <a title='GitHub' target="_blank" rel="noreferrer" href="https://github.com/maximevaillancourt">GitHub</a>.
  </p>

  <p>
    Blog feed available as <a target="_blank" class="internal-link" href="/rss.xml">RSS</a> or <a target="_blank" class="internal-link" href="/feed.json">JSON</a> feeds.
    Content is made available under the <a target="_blank" rel="noopener" href="https://creativecommons.org/licenses/by/4.0/">CC BY 4.0 license</a> unless specified otherwise.
    <a target="_blank" rel="noopener" href="https://github.com/maximevaillancourt/maximevaillancourt.com">Source code is available on GitHub</a>. This website does not track you. 
  </p>
</footer>
